#wrap {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.clear-area {
  width: 100%;
  font-size: 14px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.content-wrap {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 7fr;
}

.content-aside {
  margin-right: 30px;
}

.content {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.book-list {
  display: grid;
  grid-template-columns: 3fr 7fr;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 25px;
}

.book-list img {
  width: 200px;
  height: auto;
}

.cont-layout {
  display: grid;
  grid-template-columns: 8fr 2fr;
}

.cont-layout div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ol {
  list-style: none;
}
